@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689328181503') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenziliao:before {
  content: "\e601";
}

.icon-xiugaimima:before {
  content: "\e614";
}

.icon-tuichudenglu:before {
  content: "\e60b";
}

